<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>this is a index file</p>

<form action="/users/v2/studentsform" method="post" enctype="multipart/form-data">

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="dob">Date of Birth:</label><br>
    <input type="number" id="dob" name="dob" required><br><br>

    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age" min="1" required><br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>